*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.posts-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(3, 132, 40);
    padding: 10px;
    background-color:aquamarine;
}

.post-item h3{
    font-size: 20px;
}
.post-item p{
    font-size: 18px;
}