*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px;
    line-height: 1.5;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.products-container .item{
    width: 32%;
    height: 400px;
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item{
    padding: 15px;
    border: 2px solid rgb(70, 182, 242);
    background-color: #a1dbf1;
}

.item .title{
    font-size: 20px;
    font-weight: bold;
}

.item .price{
    font-size: 30px;
    font-weight: bolder;
}

.item .description{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.load-more-btn{
    padding: 10px 30px;
    border: none;
    background-color: #d31f49;
    font-size: 25px;
    cursor: pointer;
    margin-top: 30px;
}
.load-more-btn:disabled{
    cursor: not-allowed;
}
